In [63]:
# 뒷 부분에 활용할 패키지를 미리 import 합시다.
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [ ]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.lower())
print(a.swapcase())

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
', &'.join(['1', '2', '3'])

In [ ]:
''.join(('1','2','3','4','5'))

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [56]:
# 아래에 코드를 작성하세요.
'apple'.replace('p','a')

'aaale'

In [57]:
'apple'.replace('p','a',1)  # 하나만 바꾼다

'aaple'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'                   hi~~     '.strip()

In [ ]:
'      hi      '.rstrip()

In [ ]:
'안녕하세요^^'.rstrip('^')

In [ ]:
'aabbaabbaa'.strip('a')

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'wow!'.find('w') # 첫번째 w위치 반환

In [ ]:
'wow!'.find('a')

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'wow!'.index('o')

In [ ]:
'wow!'.index('a')  # find 와 index의 차이점 ! 없을때의 오류 값

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'3   10'.split( )

In [ ]:
input = '3 10 11'
a, b,c = map(int,input.split())
print(a, b, c)

In [ ]:
print('a_b_c_D'.split('_'))
print('a_b_c_D'.split('0'))

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [54]:
'1'.isalpha()
# 문자열인지

1

In [ ]:
'0'.isspace()

In [52]:
'0122819'.isdigit()  # 숫자인지

True

In [53]:
'AFJWIQ'.isupper()

True

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
num = [1,2,4,5,6]

In [ ]:
num[len(num):] = '333'
print(num)

In [10]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [11]:
# 값을 추가해봅시다.
caffe.append('삼성화재연수원 카페')

In [12]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = 'ediya'
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'e', 'd', 'i', 'y', 'a']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [7]:
a = ['안','녕']
b= ['하','세','요']

In [5]:
a.extend(b)
print(a)

['안', '녕', '하', '세', '요']

In [8]:
a.append(b)
print(a)

['안', '녕', ['하', '세', '요']]

In [2]:
a.extend([b])
print(a)

['안', '녕', ['하', '세', '요']]

In [9]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['카페베네'])
print(caffe)

NameError: name 'caffe' is not defined

In [13]:
caffe.extend(['빽다방','설빙'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'e', 'd', 'i', 'y', 'a', '빽다방', '설빙']

In [14]:
# 앞서 배운 list concatenate와 동일합니다.
caffe = caffe + ['droptop']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'e', 'd', 'i', 'y', 'a', '빽다방', '설빙', 'droptop']

In [15]:
# append와 비교해봅시다.
caffe.append(['동네까페'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'e', 'd', 'i', 'y', 'a', '빽다방', '설빙', 'droptop', ['동네까페']]

In [16]:
caffe.extend('커피그루나루')
print(caffe)  # string을 넣을 떄는 조심

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'e', 'd', 'i', 'y', 'a', '빽다방', '설빙', 'droptop', ['동네까페'], '커', '피', '그', '루', '나', '루']

In [ ]:
result = []
a = '안녕하세요, 여러분'
result.extend(a)
print(result)

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0,'hi')
print(caffe)

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(len(caffe), 'bye')
print(caffe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(len(caffe)+1000,'안녕')
print(caffe)

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

In [ ]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

In [ ]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [2]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [6]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
a.pop(7)

IndexError: pop index out of range

In [4]:
print(a)

[2, 3, 4, 5, 6]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
member = ['연용흠', '박태수', '염동환', '토마스']

In [ ]:
bye_member = member.pop()

In [ ]:
print(f'{bye_member}님 이용해주셔서 감사합니다.')

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [9]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [10]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(3)

2

In [11]:
a.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [12]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]
a.count(3)

0

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
for _ in range(a.count(1)):
    a.remove(1)
print(a)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.
1 in a

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [ ]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

In [ ]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)

In [ ]:
# sort는 반환값이 None이고 원본 자체를 바꾸기 때문에, 아래처럼 작성하면 안된다.
lotto = lotto.sort()
print(lotto)

In [ ]:
# sorted()는 원본은 바꾸지 않지만, 정렬된 결과를 반환한다. 따라서 아래처럼 작성하면 안된다.
a = [1,5,4,3]
sorted(a)
print(a)

In [14]:
a = [1,2,4,3,5]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [30]:
b = [1,2,4,3,5]
a = [1,2,4,3]
 # -> 원본은 바뀌지 않음, 정렬된 값이 return

[1, 2, 3, 4]
[1, 2, 4, 3]
None
[1, 2, 3, 4, 5]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [ ]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

In [ ]:
classroom.reverse()

In [37]:
a=[1,2,5,3,4]
print(a.reverse())
print(a)
print(a.sort())
print(a)

None
[4, 3, 5, 2, 1]
None
[1, 2, 3, 4, 5]

## 복사

In [38]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [39]:
# 복사한 리스트의 첫번째 원소의 값을 바꾸고 리스트들을 출력해봅시다.
copied_list[0] = '연용흠'

In [40]:
copied_list

['연용흠', 2, 3]

In [43]:
original_list

['연용흠', 2, 3]

In [44]:
# id 값을 확안해봅시다.
print(id(original_list), id(copied_list))

2409976997192 2409976997192

In [60]:
# 숫자를 확인해봅시다.
a = 3
b = a
b = 5
print(a,b)

3 5

In [65]:
# 딕셔너리도 확인해봅시다.
a = {'apple': '사과', 'banana': '바나나'}
b = a
b['apple'] = '맥북'
print(a,b)

{'apple': '맥북', 'banana': '바나나'} {'apple': '맥북', 'banana': '바나나'}

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [64]:
# mutable - 리스트
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [66]:
# immutable - integer
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

In [73]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
c = b = list(a)
print(id(list(a)))
print(id(b))
print(id(c))
b[0] = 5
print(c,b)

2409978191624
2409978190024
2409978190024
[5, 2, 3] [5, 2, 3]

In [76]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
b = a[:]  ## 인덱스 접근으로 새로운 리스트를 만들어서 b에 저장하는 것!  list 주소가 새로 생기게 된다.
b[0] = 5
print(a,b)

[1, 2, 3] [5, 2, 3]

In [ ]:
# 얇은 복사 예시
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [78]:
# 2차원 리스트를 복사해봅시다.
a = [1, 2, [1, 2]]
b = a[:]
b[1] = 3
b[2][0] = 3
print(a,b)

[1, 2, [3, 2]] [1, 3, [3, 2]]

In [79]:
a = [1, 2, [1, 2]]
b = a 
b[1] =3
b[2][0] = 3
print(a,b)

[1, 3, [3, 2]] [1, 3, [3, 2]]

In [77]:
# 얕은 복사 - 2차원 리스트
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [80]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a,b)

[1, 2, [1, 2]] [1, 2, [3, 2]]

# 깊은 복사
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

In [81]:
map(int, [1,2])

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.
a = [1, 2, 3]
a.clear()
print(a)

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
a = range(1,11)

In [ ]:
# 기존의방법
# 빈 리스트를 생성
cubic_list = []
# 반복문을 돌면서 리스트에 append
for i in a:
    cubic_list.append(i**3)
print(cubic_list)

In [ ]:
# List Comprehension

cubic_list2 = [x**3 for x in a]
print(cubic_list2)

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
a = range(1,11)

In [ ]:
# 기존의방법
even_list = []
for i in a:
    if not i % 2:
        even_list.append(i)
print(even_list)

In [ ]:
# List Comprehension
even_list2 = [x for x in a if not x % 2]
print(even_list2)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [83]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.
couples =[]
for girl in girls:
    for boy in boys:
        couples.append((boy,girl))
print(couples)

In [ ]:
# List comprehension을 활용하여 만들어주세요.
couples2 = [(boy,girl) for girl in girls for boy in boys]
print(couples2)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [86]:
# 반복문을 활용하여 만들어주세요.
a = []
for x in range(1,50):
    for y in range(x+1,50):
        for z in range(y+1,50):
            if x*x + y*y == z * z:
                a.append((x,y,z))
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [87]:
a = []
for z in range(1,50):
    for y in range(1,z):
        for x in range(1,y):
            if x*x + y*y == z * z:
                a.append((x,y,z))
print(a)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45)]

In [90]:
# List comprehension을 활용하여 만들어주세요.
a2 = [(x,y,z) for x in range(1,50) for y in range(x+1,50) for z in range(y+1,50) if x** 2+ y** 2 == z**2]
print(a2)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
words = 'Life is too short, you need python!'

In [ ]:
# List comprehension을 활용하여 만들어주세요.
wrds = [x for x in words if not x in 'aeiou']
print(''.join(wrds))

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [98]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [99]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

KeyError: 'melon'

In [100]:
my_dict.pop('apple')

'사과'

In [101]:
print(my_dict)

{'banana': '바나나'}

In [102]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', 0)
my_dict.pop('melon', False)

False

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [117]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [118]:
my_dict.update(apple = '사과야',banana2 = '바나나')
print(my_dict)

{'apple': '사과야', 'banana': '바나나', 'melon': '멜론', 'banana2': '바나나'}

In [108]:
my_dict.update({'banana2':'바나나야'})
print(my_dict)

{'apple': '사과야', 'banana': '바나나야', 'melon': '멜론', 'grape': '포도', 'banana2': '바나나야'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [119]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [126]:
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
print(my_dict.get('appleasdf'))

None

In [123]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
# print(my_dict['pineapple'])
print(my_dict['apple'])

None
사과
사과
사과

In [121]:
print(my_dict.get('pineapple', False))

False

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [132]:
# dictionary comprehension
[x **3 for x in range(1,5)]

[1, 8, 27, 64]

In [133]:
{x : x **3 for x in range(1,5)}

{1: 1, 2: 8, 3: 27, 4: 64}

In [134]:
result = {}
for x in range(1,5):
    result[x] = x **3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64}

In [145]:
{char: number for char, number in zip('abcdef', range(1, 7))}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [149]:
result = {}
for char in 'abcd':
    result[char] = 0
print(result)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

### dictionary comprehension 사용해보기

In [128]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [150]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
{key : dust for key,dust in dusts.items() if dust >80}

{'대전': 82, '중국': 200}

In [151]:
{key: dusts[key] for key in dusts if dusts[key]>80}

{'대전': 82, '중국': 200}

In [152]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
{key :'나쁨' if dust > 80 else '보통' for key,dust in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [153]:
# elif 도 사용할 수 있습니다.
{key : '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [166]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [180]:
a.add(['망고','파인애'])
print(a)

TypeError: unhashable type: 'list'

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [181]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.update('토마토', '딸기')
print(a)

{'기', '토', '사과', '수박', '딸', '마', '바나나'}

In [182]:
a = {"사과", "바나나", "수박"}
a.update(['토마토', '딸기'])
print(a)

{'사과', '수박', '토마토', '딸기', '바나나'}

In [183]:
a = {"사과", "바나나", "수박"}
a.update(('토마토',),('딸기',))
print(a)

{'사과', '수박', '토마토', '딸기', '바나나'}

In [184]:
a = {"사과", "바나나", "수박"}
a.update(('토마토'),('딸기'))
print(a)

{'기', '토', '사과', '수박', '딸', '마', '바나나'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.remove('사과')
print(a)

In [ ]:
a.remove('파인애플')

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.discard('파인애플')  # 세트에 없어도 에러 X

### `pop()`

임의의 원소를 제거해 반환합니다.

In [220]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

In [223]:
a.pop(1)

TypeError: pop() takes no arguments (1 given)

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [1]:
a = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [3]:
result = []
for elem in a:
    result.append(str(elem))
print(''.join(result))

123

In [4]:
# list comprehension
[str(elem) for elem in a]

['1', '2', '3']

In [5]:
''.join([str(elem) for elem in a])

'123'

In [6]:
''.join(map(str,a))

'123'

In [210]:
a = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
b,c,d = map(int,a)
print(b,c,d)

1 2 3

In [211]:
print(*a)

1 2 3

In [7]:
numbers = list(map(int,a))

In [8]:
# list comprehension
[int(elem) for elem in a]

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [214]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [215]:
[cube(elem) for elem in numbers]

[1, 8, 27]

In [216]:
# 함수를 함수의 인자로 넘겨줄 수 있다.
list(map(cube,numbers))

[1, 8, 27]

In [217]:
#  함수를 변수에 저장할 수 있다.
my_sum = sum

In [218]:
my_sum([1,2,3])

6

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
result = []
for idx_girl,girl in enumerate(girls):
    for idx_boy,boy in enumerate(boys):
        if idx_girl == idx_boy:
            result.append((girl,boy))
print(result)

In [ ]:
result = []
for girl,boy in zip(girls,boys):
    result.append((girl,boy))
print(result)

In [ ]:
list(zip(girls,boys))

In [ ]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
{boy:girl for boy , girl in zip(girls,boys)}

In [14]:
a = 'abc'
b = {'딸기':'starr','사과':'apple'}
c = 'ㄱㄴㄷ'
print(list(zip(a,b,c)))

[('a', '딸기', 'ㄱ'), ('b', '사과', 'ㄴ')]

* 아래와 같이 사용가능하다.

In [ ]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [9]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [15]:
def even(n):
    return not n%2

In [16]:
list(filter(even,range(1,10)))

[2, 4, 6, 8]

In [21]:
list(filter(str,range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 다음의 list comprehension과 동일하다.
[x for x in range(1,10) if even(x)]

[2, 4, 6, 8]

In [18]:
[x for x in range(1,10) if not x % 2]

[2, 4, 6, 8]